@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}


:root {
  --score: 20%;  
}


sub,
sup {
  font-size: 12px;
}

html ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

body {
  background-color: #a8ccab;
  font-family: poppins;
  color: black;
}

/* ====== logo header===== */
nav {
  background-color: #f6f6f6;
  box-shadow: 0px 3px 5px #000000;
  width: 100%;
}

nav #logo-text {
  color: green;
  font-weight: bolder;
  font-size: 24px;
  padding: 0px 0px 0px 6px;
}

/* ===Welcome text Container== */
header div.welcome {
  margin: 25px auto;
  background-color: white;
  box-shadow: 0px 3px 5px #000000;
  width: 300px;
}

header div.welcome h3.welcome-banner {
  padding: 2px 4px 2px 4px;
  background-color: #d0d0d0;
  color: green;
  font-weight: bolder;
  border: 0.5 px solid black;
  text-align: center;
}

header div.welcome p.description {
  padding: 5px 7px 7px 5px;
}

/* ===Content=== */

main {
  margin: auto auto;
  max-width: 90vw;
}

fieldset {
  /* border: none; */
  /* outline: none; */
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: left;
}

legend{
  color: green;
  background-color: #eeee;
  padding: 6px 7px;
  border-radius: 8px;
}

main fieldset section div{
  padding: 7px 9px;
  /* background-color: #eee; */
  border-radius: 5px;
}

label {
  margin: 15px;
}


main fieldset {
  margin: auto auto;
  padding: 7px 9px;
  background-color: #d0d0d0;
  border-radius: 5px;
  margin-bottom: 5px; 
  width: 90vw;
  height: auto;
}


button.submit {
  font-size: 1rem;
  padding: 4px 6px;
  /* margin: 20px 0px 0px 0px; */
  margin: auto auto; 
  align-self: center;
}



/* ====Score Card==== */

.card-wrap p{
margin-left: -30px;
transition-duration: 1500ms;
}


div.score-card {
  display: none;
  margin: 50px auto;
  width: 500px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 12px 15px;
}

.score-card h5 {
  text-align: center;
  font-size: 1.25rem;
  background-color: #eee;
  margin-bottom: 10px;
}

.score-card div.card {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border: 1px solid black;
}

.card-back {
  width: 0%;
  height: 10px;
  position: relative;
  background-color: #444343; 
  transition-duration: 1500ms;
}

div.feedback {
  padding: 8px 9px;
  text-align: center;
  background-color: #a8ccab;
  font-weight: 600;
  border-radius: 15px;
  font-size: 1.2rem;
  margin: 8px 0px 0px 0px;
}

button.retry {
  font-size: 1rem;
  padding: 4px 6px;
  margin: 20px 0px 0px 0px;
  color: darkgreen;
  font-family: poppins;
  font-weight: 600;
  
}

.retry-icon {
  font-size: 1rem;
}

